# This group is read both both by the client and the server
[client-server]

# This group is read by the server
[mysqld]
bind-address=127.0.0.1
default-time-zone = '-06:00'
symbolic-links=0
sql_mode = NO_ENGINE_SUBSTITUTION

# include all files from the config directory
!includedir /etc/my.cnf.d
