# ZoneMinder systemd unit file for RedHat distros and clones
# See drop-in folder for additional config directives

[Unit]
Description=ZoneMinder CCTV recording and security system
After=network.target mariadb.service zm_vpart.service
Requires=mariadb.service

[Service]
Type=forking
ExecStart=/usr/bin/zmpkg.pl start
ExecReload=/usr/bin/zmpkg.pl restart
ExecStop=/usr/bin/zmpkg.pl stop
PIDFile=/var/run/zoneminder/zm.pid
Environment=TZ=/etc/localtime
RuntimeDirectory=zoneminder
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
