build/
dist/
bootstrap/
.idea/
*~
*.sw*
*.lock
*.log
*.pyc
_build.py
.cache
.netrwhist

# Vim
plugged
plug.vim.old
.vim/
viminfo
viminfo.tmp*
vim/vim/autoload
vim/vim/session
vim/vim/plug-snapshot
vim/vim/undo

# Fish
fundle.fish
fish/completions/local_*.fish
