build/
dist/
.idea/
*~
*.sw*
*.lock
*.log
*.pyc
_build.py
.cache
viminfo.tmp*
vim/vim/autoload
vim/vim/session
vim/vim/plug-snapshot
plugged
viminfo
plug.vim.old
.netrwhist
fundle.fish
fish/completions/local_*.fish
