black>=21.5b0
flake8
ipdb
ipython
isort>=5.8
mypy>=0.812
# TODO: Switch back to pdb++ when fancycompleter stuff is fixed
# pdbpp
pip>20,<22.1
pytest-sugar
pytest-xdist
rich
setuptools
virtualenvwrapper
