# Python 3 packages to install in ~/.local/lib
argcomplete
awscli
flake8
ipython[all]
jedi
py-spy
pygments
python-dateutil
requests[security]
requests[socks]
virtualenvwrapper
virtualfish
yamllint

# numpy
# pandas
# matplotlib
# scipy
# scikit-learn
# seaborn
# visidata
# xgboost
