# Python 2/3-compatible packages
pip>=9.0
argcomplete
ipython[all]~=5.0
pygpgme
flake8
pylint
pytest
pytest-cov
python-dateutil
requests[security]
requests[socks]
vex
virtualenv
virtualenvwrapper
vim-vint
