# Python 3 packages to install in ~/.local/lib
argcomplete
asciinema
awscli
flake8
ipython[all]
jedi
py-spy
pygments
python-dateutil
requests[security,socks]
virtualenvwrapper
virtualfish
yamllint

# altair
# numpy
# pandas
# matplotlib
# scipy
# scikit-learn
# seaborn
# visidata
# xgboost
