# Python 3-only packages
argcomplete
awscli
flake8
ipython[all]
numpy
pandas
pbr
pip
pygments
pytest
python-dateutil
requests[security]
requests[socks]
setuptools
virtualenv
virtualenvwrapper
vim-vint
# matplotlib
# scipy
# scikit-learn
# seaborn
# visidata
# xgboost
