# Python tools to install in user-level site-packages
# TODO: Use pipx for these instead?
argcomplete
asciinema
awscli
httpie
py-spy
virtualenvwrapper
virtualfish
yamllint

# altair
# ipython[all]
# numpy
# pandas
# matplotlib
# scipy
# scikit-learn
# seaborn
# visidata
# xgboost
