"*":
  "autocomplete-plus":
    fileBlacklist: [
      ".*"
      "*.md"
      "*.txt"
    ]
  "autocomplete-python":
    useKite: false
  core:
    telemetryConsent: "limited"
    uriHandlerRegistration: "always"
  editor:
    fontSize: 27
    softWrap: true
  "exception-reporting":
    userId: "77506dbe-036a-40a4-ac66-251833854b4e"
  "markdown-writer":
    fileExtension: ".md"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  welcome:
    showOnStartup: false
