packages: [
  "atom-beautify"
  "atom-ide-base"
  "atom-ide-code-format"
  "atom-ide-datatip"
  "atom-ide-definitions"
  "atom-ide-hyperclick"
  "atom-ide-markdown-service"
  "atom-ide-outline"
  "atom-ide-signature-help"
  "atom-material-syntax"
  "atom-material-ui"
  "autocomplete-python"
  "busy-signal"
  "Hydrogen"
  "ide-python"
  "intentions"
  "json-sort"
  "language-lua"
  "linter"
  "linter-ui-default"
  "markdown-pdf"
  "markdown-writer"
  "package-sync"
  "python-black"
  "python-indent"
  "python-tools"
  "sort-lines"
  "teletype"
]
