packages: [
  "atom-material-syntax"
  "atom-material-ui"
  "autocomplete-python"
  "Hydrogen"
  "ide-python"
  "json-sort"
  "language-lua"
  "markdown-pdf"
  "markdown-writer"
  "package-sync"
  "python-black"
  "python-indent"
  "python-tools"
  "sort-lines"
  "teletype"
]
